{% extends 'base.html.twig' %}
{% block title %}detail du livre{% endblock %}

{% block body %}
<a href="{{ path('app_admin_book') }}">back to list</a>
<h1>Detail de {{livre.titre}}</h1>
<ul>
<li>Titre : {{livre.titre}}</li>

{% if  livre.emprunts|length == 0 %}
<li> disponible </li>
{% endif %}
{% for emprunt in livre.emprunts %}
{% if emprunt.dateRetour == null %}
<li> indisponible </li>
{% else %}
    <li> disponible </li>

{% endif %}
{% endfor %}
<li>année d'édition : {{livre.anneeEdition}}</li>
<li>nombre de pages : {{livre.nombrePages}}</li>
<li>code ISBN: {{livre.codeIsbn}}</li>
<li>cote : {{livre.Id}}</li>

    <li>Auteur : {{auteurs.nom}} {{auteurs.prenom}}</li>

 Genre(s) :</li>
{% for genre in livre.genres %}
 <li>   {{genre.nom}}</li>
{% endfor %}
</ul>
<a href="{{path('app_admin_book_edit', {id:livre.id})}}">Editer ce livre</a>

    {{ include('admin_book/_delete_form.html.twig') }}

{% endblock %}