{% extends 'base.html.twig' %}
{% block body %}
<h1>Detail de {{livre.titre}}</h1>
<ul>
<li>Titre : {{livre.titre}}</li>

{% if  livre.emprunts|length == 0 %}
<li> disponible </li>
{% endif %}
{% for emprunt in livre.emprunts %}
{% if emprunt.dateRetour == null %}
<li> indisponible </li>
{% else %}
    <li> disponible </li>

{% endif %}
{% endfor %}
<li>année d'édition : {{livre.anneEdition}}</li>
<li>nombre de pages : {{livre.nombresPages}}</li>
<li>code ISBN: {{livre.codeIsbn}}</li>
<li>cote : {{livre.Id}}</li>

    <li>Auteur : {{auteurs.nom}} {{auteurs.prenom}}</li>


{% for genre in livre.genres %}
    <li>Genre(s) : {{genre.nom}}</li>
{% endfor %}
</ul>
{% endblock %}